body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    position: absolute;
    justify-self: auto;
    width: 100%;
    background-color: whitesmoke ;
}
h1{ 
    font-family:'Archivo Black';  
    color: #eaceca;
    font-size: 1.8rem;
}
h2{font-family:'Athiti';
    color: ghostwhite;
    font-size: 1.2rem;
    
}
h3{font-family:'Archivo Black';
    color:black;
    font-size: 1rem;
}
h4{font-family:'Athiti';
    color:black;
    font-size: 0.8rem;
    font-weight: bold;
}
.top{
    grid-area: top;
    color:  #eaceca;
    background-color:  #eaceca;
}
.topb{
    grid-area: topb;
    color:  whitesmoke;
    background-color: whitesmoke ;
}
.titre{
    grid-area: titre;
    justify-self: auto;
    text-align: center;
    background-color:#333333;
    box-shadow: 8px 8px 5px #444;
    z-index: 2;
}
.left{
    grid-area: left;
    background-color:  #eaceca;
    z-index: 1;
}
.right{
    grid-area: right;
    background-color: whitesmoke;
    z-index: 1;
}
.bottom{
    grid-area: bottom;
    color: whitesmoke;
    background-color:  whitesmoke;
}
.bottomb{
    grid-area: bottomb;
    color: whitesmoke;
    background-color: whitesmoke;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between ;
    margin-top: 2em;
    list-style: none;
    flex-direction: column;
}
.flex-item {
    justify-content: left;
    padding: 4;
    margin: 4;
    width: 75%;
    height: auto;
    color: black;
}
.container{
    padding: 1;
    margin: 1;
    height:100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.05fr 2fr 4fr 0.05fr;
    grid-template-areas: 
            "top top topb topb"
            "titre titre titre titre"
            "left left right right"
            "bottom bottom bottomb bottomb";
}
@media screen and (max-width: 850px) { 
    .container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.05fr 2fr 6fr 0.05fr;
    grid-template-areas: 
            "top  topb topb"
            "titre  titre titre"
            "left  right right"
            "bottom  bottomb bottomb";
    }
}
@media screen and (max-width: 630px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.05fr 1fr 4fr 4fr 0.05fr;
        grid-template-areas:
        "top"
        "titre"
        "left"
        "right"
        "bottom ";
    }
.right{
        grid-area: right;
        background-color: #eaceca;
    }
    
}